<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>后台管理系统</title>
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="_ADMIN_/css/bootstrap.min.css" rel="stylesheet">
    <link href="_ADMIN_/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="_ADMIN_/css/style.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <link rel="stylesheet" href="_ADMIN_/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="_ADMIN_/js/bootstrap-datepicker/bootstrap-datepicker3.min.css">

    <script type="text/javascript" src="_ADMIN_/js/jquery.min.js"></script>
    <script type="text/javascript" src="_ADMIN_/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="_ADMIN_/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="_ADMIN_/js/main.min.js"></script>
    <!--图表插件-->
    <script type="text/javascript" src="_ADMIN_/js/Chart.js"></script>
    <script type="text/javascript" src="_ADMIN_/js/perfect-scrollbar.min.js"></script>

    <!--时间选择插件-->
    <script src="_ADMIN_/js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="_ADMIN_/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="_ADMIN_/js/bootstrap-datetimepicker/locale/zh-cn.js"></script>

    <!--日期选择插件-->
    <script src="_ADMIN_/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="_ADMIN_/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">