
    <!--页面主要内容-->
 <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header"><h4>表格</h4></div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>书籍名</th>
                        <th>作者</th>
                        <th>国籍</th>
                        <th>分类</th>
                        <th>库存</th>
                        <th>价格</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>钦差大臣</td>
                        <td>果戈理</td>
                        <td>俄国</td>
                        <td>国外名族</td>
                        <td>125</td>
                        <td>36.00</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>西厢记</td>
                        <td>王实甫</td>
                        <td>中国</td>
                        <td>古文典籍</td>
                        <td>26</td>
                        <td>18.00</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>儒林外史</td>
                        <td>吴敬梓</td>
                        <td>中国</td>
                        <td>古文典籍</td>
                        <td>39</td>
                        <td>22.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
